.rotate {
    animation: rotateGear 1.5s linear infinite;
    transform-origin: center;
  }
  
  @keyframes rotateGear {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .modal-content {
    background-color: transparent !important;
    box-shadow: none; // optional: removes shadow if you want a floating look
    border: none;     // optional: removes border
  }
  
  .modal-body {
    background-color: transparent !important;
  }
  