.rotate {
    animation: rotateGear 1.5s linear infinite;
    transform-origin: center;
  }
  
  @keyframes rotateGear {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .maintenance-spinner {
    padding: 1rem;
  }
  