@use  './variables' as *;

.maintenance-spinner-modal .modal-dialog {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.maintenance-spinner-content {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.maintenance-spinner-body {
  background-color: transparent !important;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gear-svg {
  animation: rotateGear 1.3s linear infinite;
  transform-origin: center;
  fill:$light;
}

@keyframes rotateGear {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}