@use  './variables' as *;
@import 'bootstrap/scss/bootstrap';


.dashboard__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem 2rem;
}

.modal-content {
    background-color: transparent !important;
    border-color: transparent !important;
}

.main-content {    
    padding: 1rem 2rem;
}

.login {
    border: 1px solid #ccc;
    padding: 2rem 0;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invalid-feedback{
    display: contents !important;
}
.multi-tables{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
// API Table
.api-table-container{
    min-width: 100%;
    min-height: 40rem;
    max-height: 40rem;
    border: 1px solid $light;
    border-bottom: 1.5rem solid $light;
    padding:1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 5px;
    gap:1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: relative;
}
.api-table-create-btn{
    position: absolute;
    left: 1rem;
    bottom: -1.4rem;
    z-index: 999;
    width: 1.5rem;
    height: 1.5rem;
    svg{
        width: 100%;
        height: 100%;
        fill: gray;
    }
}
.api-table{
    table{
        position: relative;
    }

    tr {
        height: 2rem;
    }

    th {
        height: 2rem;
        background-color:$secondary !important;
    }

    thead {    
        position: sticky;
        top: 0;
        z-index: 1;
    }

    min-width: 100%;
    min-height: 35rem;
    max-height: 35rem;
    overflow: hidden scroll;

   
}

.api-table-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2rem;
    border-bottom: 1px solid grey;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

// API Form
.api-form-container{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

.api-form{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;   
}

.api-form-element{
    min-width: 30%;
}

.api-form-button-group{
    min-width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    align-items: center;
}

.api-form-button{
    max-width: 10%;
    height: 3rem;
    border-radius: 5% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}